/*custom css Reset*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* end resets */

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --white: #fff;
}

body {
  position: relative;
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue);
  font-size: 15px;
  height: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em 0 1em;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  max-width: 400px;
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  margin: 2em;
  gap: 2em;
}

figure {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
img {
  width: 50px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 200;

}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h3 {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 0.8em;
  font-weight: 200;
  color: var(--Grayish-Blue);
}

.titles-decription {
  text-align: center;
  width: clamp(300px, 80%, 400px);

}

.supervisor {
  border-top: 4px solid var(--Cyan);
}
.team-builder {
  border-top: 4px solid var(--Red);
}
.karma {
  border-top: 4px solid var(--Orange);
}
.calculator {
  border-top: 4px solid var(--Blue);
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0.5em 0;
  margin-top: 1em;
}
.attribution {
  font-size: 1rem;

}
.attribution a {
  display: inline-block;
  color: var(--Blue);
  text-decoration: none;
  &:hover {
    color: hsl(228, 45%, 44%);
    transform-origin: center center;
    transform: translateY(-5px);
    transition: 0.5s ease-in-out all;
    cursor: pointer;
  }
}

  @media screen and (max-width: 600px) {
    main {
      flex-direction: column;
    }
  
    article {
      width: 300px;
    }
    main{
      padding-bottom: 3em;
    }
  }